philippineasy-article-automation-v2.json
[{"updatedAt":"2026-01-09T06:14:33.583Z","createdAt":"2026-01-09T03:39:38.318Z","id":"604S9KIbabo2oeI8","name":"Philippineasy - Article Automation V2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * *"}]}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","name":"Schedule Daily 8AM","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[256,400],"notes":"Trigger automatique tous les jours a 8h du matin"},{"parameters":{"jsCode":"// Sources Philippines - Ajoutez/modifiez les sources ici\nconst sources = [\n  {\n    type: 'rss',\n    url: 'https://www.philippines-tourisme.fr/feed/',\n    name: 'Philippines Tourisme FR',\n    category_id: 11\n  },\n  {\n    type: 'rss', \n    url: 'https://www.expat.com/fr/destination/asie/philippines/feed/actualites.xml',\n    name: 'Expat Philippines',\n    category_id: 11\n  },\n  {\n    type: 'html_dynamic',\n    url: 'https://www.rappler.com/nation/',\n    name: 'Rappler Nation',\n    category_id: 11\n  }\n];\n\nreturn sources.map(source => ({ json: source }));"},"id":"b2c3d4e5-f6g7-8901-bcde-f12345678901","name":"Define Sources","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,400],"notes":"Configuration des sources - Modifiez category_id selon vos besoins"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"rss","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"RSS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"html_dynamic","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FireCrawl"}]},"options":{"fallbackOutput":"none"}},"id":"c3d4e5f6-g7h8-9012-cdef-123456789012","name":"Switch by Type","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[656,400]},{"parameters":{"url":"={{ $json.url }}","options":{"ignoreSSL":true}},"id":"d4e5f6g7-h8i9-0123-defg-234567890123","name":"RSS Feed Read","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[864,304],"continueOnFail":true},{"parameters":{"resource":"Default","operation":"Scrape A Url And Get Its Content","url":"={{ $json.url }}","formats":["markdown"],"requestOptions":{"timeout":30000}},"id":"e5f6g7h8-i9j0-1234-efgh-345678901234","name":"FireCrawl Scrape","type":"n8n-nodes-firecrawl.fireCrawl","typeVersion":1,"position":[864,512],"credentials":{"fireCrawlApi":{"id":"YXRmcf1SnkuMtkhy","name":"FireCrawl account"}},"continueOnFail":true},{"parameters":{},"id":"f6g7h8i9-j0k1-2345-fghi-456789012345","name":"Merge All Sources","type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1056,400]},{"parameters":{"jsCode":"// Normalisation des donnees de toutes les sources\nconst items = $input.all();\nconst normalized = [];\n\n// Helper pour extraire le texte (gere objets et strings)\nconst extractText = (content) => {\n  if (!content) return '';\n  \n  // Si c'est deja une string, retourner directement\n  if (typeof content === 'string') return content;\n  \n  // Si c'est un objet\n  if (typeof content === 'object') {\n    // Essayer les proprietes communes\n    if (content.text) return String(content.text);\n    if (content.value) return String(content.value);\n    if (content._) return String(content._);\n    if (content['#text']) return String(content['#text']);\n    \n    // Si c'est un tableau, joindre les elements\n    if (Array.isArray(content)) {\n      return content.map(item => extractText(item)).join(' ');\n    }\n    \n    // Essayer de serialiser l'objet HTML\n    if (content.type === 'text' || content.type === 'tag') {\n      let result = '';\n      if (content.children && Array.isArray(content.children)) {\n        result = content.children.map(child => extractText(child)).join(' ');\n      }\n      return result;\n    }\n    \n    // Dernier recours: convertir en JSON puis en string\n    try {\n      const jsonStr = JSON.stringify(content);\n      // Si l'objet est trop complexe, extraire juste les valeurs textuelles\n      if (jsonStr.length > 10000) {\n        return jsonStr.replace(/[{}\\[\\]\"]/g, ' ').substring(0, 5000);\n      }\n      return jsonStr;\n    } catch (e) {\n      return String(content);\n    }\n  }\n  \n  // Pour tout autre type, convertir en string\n  return String(content);\n};\n\nfor (const item of items) {\n  const data = item.json;\n  let normalizedItem = null;\n  \n  // RSS Feed format\n  if (data.title && (data.link || data.guid)) {\n    const rawContent = extractText(data.content || data['content:encoded'] || data.contentSnippet || data.description);\n    normalizedItem = {\n      source_url: String(data.link || data.guid),\n      raw_title: extractText(data.title),\n      raw_content: rawContent,\n      publication_date: data.pubDate || data.isoDate || new Date().toISOString(),\n      source_name: 'RSS Feed',\n      category_id: 11\n    };\n  }\n  // FireCrawl format\n  else if (data.markdown || data.html || data.data) {\n    const content = extractText(data.markdown || data.html || data.data);\n    normalizedItem = {\n      source_url: String(data.url || data.sourceURL || 'unknown'),\n      raw_title: extractText(data.title || data.metadata?.title || 'Article scrape'),\n      raw_content: content,\n      publication_date: new Date().toISOString(),\n      source_name: 'FireCrawl',\n      category_id: 11\n    };\n  }\n  \n  if (normalizedItem && normalizedItem.source_url && normalizedItem.raw_content) {\n    // S'assurer que raw_content est bien une string avant substring\n    const contentStr = String(normalizedItem.raw_content);\n    \n    // Verifier qu'il y a du contenu utile (pas juste \"[object Object]\")\n    if (contentStr.length > 20 && contentStr !== '[object Object]') {\n      // Limiter le contenu a 8000 caracteres pour eviter les tokens excessifs\n      normalizedItem.raw_content = contentStr.substring(0, 8000);\n      normalized.push({ json: normalizedItem });\n    }\n  }\n}\n\nif (normalized.length === 0) {\n  return [{ json: { error: 'Aucun article trouve', timestamp: new Date().toISOString() } }];\n}\n\nreturn normalized;"},"id":"g7h8i9j0-k1l2-3456-ghij-567890123456","name":"Normalize Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.publication_date }}","rightValue":"={{ $now.minus({ days: 7 }) }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"h8i9j0k1-l2m3-4567-hijk-678901234567","name":"Filter Last 7 Days","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,400]},{"parameters":{"options":{}},"id":"split-batch-1","name":"Process One by One","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1776,128],"notes":"Traite les articles un par un pour eviter les erreurs en cascade"},{"parameters":{"operation":"getAll","tableId":"articles","limit":1,"filters":{"conditions":[{"keyName":"source_url","condition":"eq","keyValue":"={{ $json.source_url }}"}]}},"id":"i9j0k1l2-m3n4-5678-ijkl-789012345678","name":"Check Duplicate","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1856,400],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"Y37r8teOb0npvPKk","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Is Duplicate"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ String($json.id || '') }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"renameOutput":true,"outputKey":"New Article"}]},"options":{"fallbackOutput":"none"}},"id":"j0k1l2m3-n4o5-6789-jklm-890123456789","name":"If Not Duplicate","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2064,400],"notes":"Switch: Branche 0 = Duplicata (retour boucle), Branche 1 = Nouveau (vers GPT-4)"},{"parameters":{"jsCode":"// Recuperer les donnees originales de l'article depuis Process One by One\nconst originalData = $('Process One by One').item.json;\n\n// Passer les donnees originales pour le traitement AI\nreturn [{ json: originalData }];"},"id":"prepare-for-ai","name":"Prepare Article Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[2256,400],"notes":"FIX: Recupere les donnees originales au lieu d'utiliser Merge problematique"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Tu es un redacteur SEO expert pour Philippineasy.com, specialise dans la creation d'articles longs et detailles (1500+ mots) pour un public francophone passionné par les Philippines.\n\n## MISSION\nReecris cet article en francais en creant un contenu APPROFONDI et COMPLET d'au moins 1500 mots.\n\n## ARTICLE SOURCE\nTitre: {{ $json.raw_title }}\nContenu: {{ $json.raw_content }}\n\n## EXIGENCES DE LONGUEUR\n\n**MINIMUM 1500 MOTS** (environ 8000-10000 caracteres)\n\n- Introduction: 150-200 mots (2-3 paragraphes)\n- 6-8 sections H2 avec 200-250 mots chacune\n- Chaque section H2 doit avoir 3-4 paragraphes OU 2 paragraphes + 1 liste detaillee\n- Au moins 2 sous-sections H3 pour enrichir\n- Conclusion: 100-150 mots\n\n## REGLES DE TITRES ACCROCHEURS\n\nLe titre H1 DOIT utiliser l'une de ces formules :\n\n### Formules avec chiffres\n- \"7 raisons de [action] aux Philippines\"\n- \"Top 10 des [sujet] philippins\"\n- \"5 secrets pour [objectif] aux Philippines\"\n- \"12 choses a savoir sur [sujet]\"\n\n### Formules questions\n- \"Pourquoi les Philippines sont-elles [caracteristique] ?\"\n- \"Comment [action] aux Philippines en 2026 ?\"\n- \"Que faut-il savoir avant de [action] ?\"\n\n### Formules promesses\n- \"Le guide ultime pour [objectif] aux Philippines\"\n- \"Tout ce que vous devez savoir sur [sujet]\"\n- \"Le guide complet de [sujet] aux Philippines\"\n\n### Formules emotionnelles\n- \"Incroyable decouverte : [sujet] aux Philippines\"\n- \"L'experience inoubliable de [action] aux Philippines\"\n- \"Les Philippines comme vous ne les avez jamais vues\"\n\n**IMPORTANT** : Le titre doit rester entre 50-70 caracteres maximum.\n\n## STRUCTURE OBLIGATOIRE ENRICHIE\n\n### 1. Introduction captivante (150-200 mots)\n- Accroche emotionnelle ou question intrigante\n- Contexte et enjeux\n- Promesse de ce que le lecteur va apprendre\n- Teaser des points cles\n\n### 2. Corps de l'article (6-8 sections H2)\n\nChaque section H2 doit contenir **200-250 mots minimum** avec :\n\n**Option A : Paragraphes developpes**\n- 3-4 paragraphes de 3-5 phrases chacun\n- Exemples concrets et anecdotes\n- Donnees chiffrees et statistiques\n\n**Option B : Mix paragraphes + listes**\n- 2 paragraphes d'introduction (6-8 phrases)\n- 1 liste detaillee de 5-10 points avec explications\n- 1 paragraphe de conclusion\n\n**Enrichissements obligatoires** :\n- Au moins 2 sections doivent avoir des sous-sections H3\n- Au moins 1 tableau comparatif (prix, destinations, criteres, etc.)\n- Au moins 2 citations (experts, temoignages, sources officielles)\n- Au moins 3 listes a puces ou numerotees avec 5+ elements\n- Conseils pratiques concrets dans chaque section\n\n### 3. Elements visuels a integrer\n\n- **Tableaux** : Comparatifs de prix, destinations, saisons, criteres\n- **Citations** : Temoignages d'expats, citations d'experts, proverbes philippins\n- **Listes detaillees** : Chaque point doit avoir 1-2 phrases d'explication\n\n### 4. Conclusion impactante (100-150 mots)\n- Resume des points cles (3-5 phrases)\n- Call-to-action fort vers le forum Philippineasy\n- Question ouverte pour engager la discussion\n- Encouragement a partager l'article\n\n## TON ET STYLE\n\n- **Tutoiement** du lecteur (tu, toi, ton)\n- **Conversationnel** mais informatif\n- **References culturelles** philippines (Mabuhay, barangay, jeepney, sari-sari store, etc.)\n- **Storytelling** : Integrer des anecdotes et scenarios concrets\n- **Conseils actionables** : Dire exactement quoi faire, ou aller, combien prevoir\n- **Nuances** : Presenter les pour/contre, les alternatives\n\n## SEO OPTIMISE\n\n- **Mot-cle principal** : Repete naturellement 8-12 fois dans l'article\n- **Mots-cles secondaires** : 5-7 variations integrees naturellement\n- **Meta description** : EXACTEMENT 155-160 caracteres, avec chiffre ou promesse\n- **Slug** : 50-75 caracteres, lowercase, tirets, pas d'accents, mot-cle inclus\n\n## EXEMPLES DE RICHESSE DE CONTENU\n\n### Exemple de section H2 riche (250 mots)\n\n```\n## Le cout reel de la vie aux Philippines en 2026\n\nVivre aux Philippines est souvent presente comme extremement abordable, mais la realite est plus nuancee. Selon les dernieres donnees de 2026, un expat celibataire peut vivre confortablement avec 800-1200 euros par mois a Manille, mais ce budget varie enormement selon ton style de vie et ta localisation.\n\nLes grandes villes comme Manille ou Cebu sont naturellement plus cheres. Un appartement d'une chambre en centre-ville coute entre 400-600 euros, contre 200-300 euros en province. La nourriture locale reste tres abordable : un repas dans une carinderia (petit restaurant local) ne coute que 2-3 euros, tandis qu'un restaurant occidentalise te coutera 10-15 euros.\n\n**Voici un budget mensuel realiste pour un expat a Manille** :\n\n- Loyer (1 chambre, centre) : 500 euros\n- Nourriture (mix local/occidental) : 250 euros  \n- Transport (Grab, jeepney) : 80 euros\n- Electricite et eau : 60 euros\n- Internet (fibre 100 Mbps) : 25 euros\n- Loisirs et sorties : 150 euros\n- Divers et imprevus : 100 euros\n\n**Total : 1165 euros/mois**\n\nCe budget te permet de vivre confortablement sans te priver, mais pas dans le luxe. Si tu vises un style de vie plus haut de gamme avec appartement moderne, restaurants occidentaux reguliers et voyages frequents, compte plutot 2000-2500 euros par mois.\n```\n\n## FORMAT DE SORTIE JSON STRICT\n\nReponds UNIQUEMENT avec ce JSON valide, sans markdown, sans ```json, juste le JSON pur :\n\n{\n  \"title\": \"Titre H1 accrocheur 50-70 chars avec formule (chiffre/question/promesse)\",\n  \"slug\": \"slug-seo-optimise-50-75-chars-sans-accents-avec-mot-cle\",\n  \"meta_description\": \"Description EXACTEMENT 155-160 caracteres avec chiffre ou promesse pour maximiser le CTR Google.\",\n  \"category_id\": {{ $json.category_id || 11 }},\n  \"status\": \"draft\",\n  \"image_prompts\": {\n    \"thumbnail\": \"ABSOLUTELY NO TEXT, NO WORDS, NO LETTERS IN THE IMAGE. Wide panoramic 16:9 photograph of [scene detaillee aux Philippines en rapport direct avec le titre], golden hour lighting, high resolution, travel photography, National Geographic style, photorealistic\",\n    \"image_section_1\": \"ABSOLUTELY NO TEXT, NO WORDS, NO LETTERS IN THE IMAGE. Candid street photograph of [aspect specifique du sujet aborde dans les premieres sections, scene de vie aux Philippines], natural daylight, documentary style, authentic moment, photorealistic\",\n    \"image_section_2\": \"ABSOLUTELY NO TEXT, NO WORDS, NO LETTERS IN THE IMAGE. Stunning photograph of [aspect complementaire ou contraste avec section 1, scene culturelle ou paysage philippin], natural lighting, travel magazine quality, cultural authenticity, photorealistic\"\n  },\n  \"image_positions\": {\n    \"image_section_1\": { \"after_h2_index\": 2, \"caption\": \"Legende descriptive et engageante pour l'image 1 (1-2 phrases).\" },\n    \"image_section_2\": { \"after_h2_index\": 4, \"caption\": \"Legende descriptive et engageante pour l'image 2 (1-2 phrases).\" }\n  },\n  \"content_editorjs\": {\n    \"time\": {{ $now.toMillis() }},\n    \"blocks\": [\n      { \"id\": \"intro-1\", \"type\": \"paragraph\", \"data\": { \"text\": \"Accroche emotionnelle ou question intrigante de 2-3 phrases pour captiver immediatement le lecteur...\" } },\n      { \"id\": \"intro-2\", \"type\": \"paragraph\", \"data\": { \"text\": \"Contexte et enjeux du sujet en 3-4 phrases avec donnees ou statistiques recentes...\" } },\n      { \"id\": \"intro-3\", \"type\": \"paragraph\", \"data\": { \"text\": \"Promesse de ce que le lecteur va decouvrir dans cet article complet et teaser des points cles...\" } },\n      \n      { \"id\": \"h2-1\", \"type\": \"header\", \"data\": { \"text\": \"Premier titre de section accrocheur\", \"level\": 2 } },\n      { \"id\": \"p1-1\", \"type\": \"paragraph\", \"data\": { \"text\": \"Paragraphe d'introduction de la section avec contexte et enjeux (4-5 phrases minimum)...\" } },\n      { \"id\": \"p1-2\", \"type\": \"paragraph\", \"data\": { \"text\": \"Developpement avec exemples concrets, donnees chiffrees et anecdotes (4-5 phrases)...\" } },\n      { \"id\": \"p1-3\", \"type\": \"paragraph\", \"data\": { \"text\": \"Suite du developpement avec nuances et alternatives (3-4 phrases)...\" } },\n      { \"id\": \"list-1\", \"type\": \"list\", \"data\": { \"style\": \"unordered\", \"items\": [\n        \"Premier point important avec explication detaillee de 1-2 phrases\",\n        \"Deuxieme point avec exemple concret et chiffres si pertinent\", \n        \"Troisieme point avec conseil actionable precis\",\n        \"Quatrieme point avec reference culturelle ou anecdote\",\n        \"Cinquieme point avec mise en garde ou astuce pratique\"\n      ] } },\n      { \"id\": \"p1-4\", \"type\": \"paragraph\", \"data\": { \"text\": \"Paragraphe de conclusion de cette section avec conseil pratique (3 phrases)...\" } },\n      \n      { \"id\": \"h2-2\", \"type\": \"header\", \"data\": { \"text\": \"Deuxieme section avec titre descriptif\", \"level\": 2 } },\n      { \"id\": \"p2-1\", \"type\": \"paragraph\", \"data\": { \"text\": \"Introduction de la section avec accroche (4-5 phrases)...\" } },\n      { \"id\": \"h3-1\", \"type\": \"header\", \"data\": { \"text\": \"Sous-section pour approfondir un aspect\", \"level\": 3 } },\n      { \"id\": \"p2-2\", \"type\": \"paragraph\", \"data\": { \"text\": \"Developpement de la sous-section avec details (5-6 phrases)...\" } },\n      { \"id\": \"p2-3\", \"type\": \"paragraph\", \"data\": { \"text\": \"Suite avec exemples et conseils pratiques (4 phrases)...\" } },\n      { \"id\": \"quote-1\", \"type\": \"quote\", \"data\": { \n        \"text\": \"Citation pertinente d'un expert, temoignage d'expat ou proverbe philippin qui illustre le propos\", \n        \"caption\": \"Source precise : Nom Expert, Fonction/Publication, Annee\" \n      } },\n      { \"id\": \"p2-4\", \"type\": \"paragraph\", \"data\": { \"text\": \"Commentaire sur la citation et lien avec le sujet (3 phrases)...\" } },\n      \n      { \"id\": \"h2-3\", \"type\": \"header\", \"data\": { \"text\": \"Troisieme section comparative ou analytique\", \"level\": 2 } },\n      { \"id\": \"p3-1\", \"type\": \"paragraph\", \"data\": { \"text\": \"Introduction expliquant l'importance de cette comparaison (3-4 phrases)...\" } },\n      { \"id\": \"table-1\", \"type\": \"table\", \"data\": { \"content\": [\n        [\"Critere\", \"Option A\", \"Option B\", \"Recommandation\"],\n        [\"Premier critere\", \"Valeur detaillee A\", \"Valeur detaillee B\", \"Conseil pratique\"],\n        [\"Deuxieme critere\", \"Info concrete A\", \"Info concrete B\", \"Meilleur choix selon...\"],\n        [\"Troisieme critere\", \"Donnee chiffree A\", \"Donnee chiffree B\", \"Contexte d'usage\"],\n        [\"Quatrieme critere\", \"Avantage A\", \"Avantage B\", \"Situation ideale\"]\n      ] } },\n      { \"id\": \"p3-2\", \"type\": \"paragraph\", \"data\": { \"text\": \"Analyse du tableau avec explications et nuances (4-5 phrases)...\" } },\n      { \"id\": \"p3-3\", \"type\": \"paragraph\", \"data\": { \"text\": \"Conseils pratiques bases sur cette comparaison (4 phrases)...\" } },\n      \n      { \"id\": \"h2-4\", \"type\": \"header\", \"data\": { \"text\": \"Quatrieme section avec conseils pratiques\", \"level\": 2 } },\n      { \"id\": \"p4-1\", \"type\": \"paragraph\", \"data\": { \"text\": \"Introduction sur l'importance de ces conseils (3-4 phrases)...\" } },\n      { \"id\": \"list-2\", \"type\": \"list\", \"data\": { \"style\": \"ordered\", \"items\": [\n        \"Etape 1 : Action precise a faire avec details et timing (2 phrases d'explication)\",\n        \"Etape 2 : Demarche concrete avec outils ou ressources a utiliser (2 phrases)\",\n        \"Etape 3 : Conseil actionable avec cout estime et duree (2 phrases)\",\n        \"Etape 4 : Astuce d'initie avec mise en garde ou alternative (2 phrases)\",\n        \"Etape 5 : Point de vigilance important avec solution si probleme (2 phrases)\",\n        \"Etape 6 : Conseil bonus pour optimiser l'experience (2 phrases)\",\n        \"Etape 7 : Recapitulatif et prochaines etapes recommandees (2 phrases)\"\n      ] } },\n      { \"id\": \"p4-2\", \"type\": \"paragraph\", \"data\": { \"text\": \"Complement sur ces etapes avec retour d'experience (3-4 phrases)...\" } },\n      \n      { \"id\": \"h2-5\", \"type\": \"header\", \"data\": { \"text\": \"Cinquieme section : Erreurs a eviter\", \"level\": 2 } },\n      { \"id\": \"p5-1\", \"type\": \"paragraph\", \"data\": { \"text\": \"Introduction sur les pieges classiques (3-4 phrases)...\" } },\n      { \"id\": \"h3-2\", \"type\": \"header\", \"data\": { \"text\": \"Les erreurs des debutants\", \"level\": 3 } },\n      { \"id\": \"p5-2\", \"type\": \"paragraph\", \"data\": { \"text\": \"Description des erreurs frequentes avec exemples (5-6 phrases)...\" } },\n      { \"id\": \"list-3\", \"type\": \"list\", \"data\": { \"style\": \"unordered\", \"items\": [\n        \"Erreur n°1 avec explication detaillee et comment l'eviter (2 phrases)\",\n        \"Erreur n°2 avec consequences et solution alternative (2 phrases)\",\n        \"Erreur n°3 avec anecdote reelle et conseil pratique (2 phrases)\",\n        \"Erreur n°4 avec cout de cette erreur et prevention (2 phrases)\",\n        \"Erreur n°5 avec impact long terme et bonne pratique (2 phrases)\"\n      ] } },\n      { \"id\": \"p5-3\", \"type\": \"paragraph\", \"data\": { \"text\": \"Synthese sur comment eviter ces erreurs (3-4 phrases)...\" } },\n      \n      { \"id\": \"h2-6\", \"type\": \"header\", \"data\": { \"text\": \"Sixieme section : Temoignages et experiences\", \"level\": 2 } },\n      { \"id\": \"p6-1\", \"type\": \"paragraph\", \"data\": { \"text\": \"Introduction sur l'interet des retours d'experience (3 phrases)...\" } },\n      { \"id\": \"quote-2\", \"type\": \"quote\", \"data\": { \n        \"text\": \"Temoignage detaille d'un expat ou expert avec experience concrete et chiffres precis\", \n        \"caption\": \"Prenom N., Expat depuis X annees a [ville], Profession\" \n      } },\n      { \"id\": \"p6-2\", \"type\": \"paragraph\", \"data\": { \"text\": \"Analyse de ce temoignage avec lecons a tirer (4-5 phrases)...\" } },\n      { \"id\": \"p6-3\", \"type\": \"paragraph\", \"data\": { \"text\": \"Autres exemples et variations selon les profils (4-5 phrases)...\" } },\n      { \"id\": \"p6-4\", \"type\": \"paragraph\", \"data\": { \"text\": \"Conseils personnalises selon ta situation (4 phrases)...\" } },\n      \n      { \"id\": \"h2-7\", \"type\": \"header\", \"data\": { \"text\": \"Septieme section : Ressources et outils utiles\", \"level\": 2 } },\n      { \"id\": \"p7-1\", \"type\": \"paragraph\", \"data\": { \"text\": \"Introduction sur les ressources indispensables (3 phrases)...\" } },\n      { \"id\": \"list-4\", \"type\": \"list\", \"data\": { \"style\": \"unordered\", \"items\": [\n        \"Ressource 1 : Nom, description, utilite concrete et lien/acces (2 phrases)\",\n        \"Ressource 2 : Outil pratique avec mode d'emploi et avantages (2 phrases)\",\n        \"Ressource 3 : Site ou app avec fonctionnalites et cout (2 phrases)\",\n        \"Ressource 4 : Contact ou service avec details et quand l'utiliser (2 phrases)\",\n        \"Ressource 5 : Document ou guide avec contenu et comment y acceder (2 phrases)\"\n      ] } },\n      { \"id\": \"p7-2\", \"type\": \"paragraph\", \"data\": { \"text\": \"Complement sur comment utiliser ces ressources efficacement (3-4 phrases)...\" } },\n      \n      { \"id\": \"h2-conclusion\", \"type\": \"header\", \"data\": { \"text\": \"Pour conclure : Ce qu'il faut retenir\", \"level\": 2 } },\n      { \"id\": \"p-conclu-1\", \"type\": \"paragraph\", \"data\": { \"text\": \"Resume des 3-5 points cles de l'article avec rappel des chiffres importants (4-5 phrases)...\" } },\n      { \"id\": \"p-conclu-2\", \"type\": \"paragraph\", \"data\": { \"text\": \"Conseil final actionable et encouragement a passer a l'action (3 phrases)...\" } },\n      { \"id\": \"p-conclu-3\", \"type\": \"paragraph\", \"data\": { \"text\": \"Call-to-action vers le forum Philippineasy pour partager ton experience, poser des questions ou lire d'autres temoignages. Question ouverte pour lancer la discussion dans les commentaires (3-4 phrases).\" } }\n    ],\n    \"version\": \"2.28.2\"\n  }\n}\n\n## VALIDATION FINALE\n\nAvant de generer le JSON, verifie que :\n\n- [ ] Le titre utilise une formule accrocheur (chiffre/question/promesse)\n- [ ] L'article fait MINIMUM 1500 mots (compte les mots de tous les blocks)\n- [ ] Il y a 6-8 sections H2 avec 200-250 mots chacune\n- [ ] Il y a au moins 2 sous-sections H3\n- [ ] Il y a au moins 1 tableau comparatif riche\n- [ ] Il y a au moins 2 citations avec sources\n- [ ] Il y a au moins 3 listes detaillees (5+ points avec explications)\n- [ ] La meta description fait EXACTEMENT 155-160 caracteres\n- [ ] Le slug fait 50-75 caracteres sans accents\n- [ ] Chaque section apporte une vraie valeur actionable\n- [ ] Les 3 prompts d'images (thumbnail, section_1, section_2) sont detailles et specifiques\n- [ ] Les positions des images sont definies (after_h2_index 2 et 4)\n\nSi un de ces criteres n'est pas rempli, ENRICHIS davantage avant de generer le JSON final."}]},"jsonOutput":true,"options":{"maxTokens":16384,"temperature":0.7}},"id":"k1l2m3n4-o5p6-7890-klmn-901234567890","name":"GPT-4 Article Writer","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2400,160],"credentials":{"openAiApi":{"id":"ZxSYZtBStDBWN5Uu","name":"OpenAi account 3"}},"notes":"Prompt modifie pour generer 3 prompts d'images + positions"},{"parameters":{"jsCode":"// Parser la reponse OpenAI et extraire le JSON\nconst response = $json.message?.content || $json.content || $json.text || '';\n\n// Recuperer source_url des donnees originales\nconst originalData = $('Process One by One').item.json;\nconst sourceUrl = originalData.source_url;\n\nlet parsed;\ntry {\n  // Essayer de parser directement\n  if (typeof response === 'object') {\n    parsed = response;\n  } else {\n    // Nettoyer la reponse des eventuels markdown\n    let cleanResponse = response.trim();\n    \n    // Enlever les blocs markdown si presents\n    if (cleanResponse.startsWith('```')) {\n      cleanResponse = cleanResponse.replace(/^```(?:json)?\\s*/, '').replace(/\\s*```$/, '');\n    }\n    \n    // Trouver le JSON dans la reponse\n    const jsonMatch = cleanResponse.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      parsed = JSON.parse(jsonMatch[0]);\n    } else {\n      throw new Error('Aucun JSON trouve dans la reponse');\n    }\n  }\n} catch (error) {\n  // Log l'erreur pour debug\n  console.error('Erreur parsing:', error.message);\n  console.error('Response brute:', response.substring(0, 500));\n  throw new Error('Impossible de parser la reponse AI: ' + error.message);\n}\n\n// Valider les champs requis\nif (!parsed.title || !parsed.slug || !parsed.content_editorjs) {\n  throw new Error('Champs requis manquants dans la reponse AI');\n}\n\n// Valider les nouveaux champs d'images\nif (!parsed.image_prompts || !parsed.image_positions) {\n  console.warn('Champs image_prompts ou image_positions manquants, ajout de valeurs par defaut');\n  parsed.image_prompts = parsed.image_prompts || {\n    thumbnail: 'Beautiful landscape of the Philippines with tropical beach',\n    image_section_1: 'Cultural scene from the Philippines',\n    image_section_2: 'Traditional Filipino lifestyle'\n  };\n  parsed.image_positions = parsed.image_positions || {\n    image_section_1: { after_h2_index: 2, caption: 'Image illustrative' },\n    image_section_2: { after_h2_index: 4, caption: 'Image illustrative' }\n  };\n}\n\nreturn [{ \n  json: {\n    ...parsed,\n    source_url: sourceUrl\n  }\n}];"},"id":"l2m3n4o5-p6q7-8901-lmno-012345678901","name":"Parse AI Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2656,400],"notes":"Parse avec validation des champs image_prompts et image_positions"},{"parameters":{"jsCode":"// Creer 3 items pour generer les 3 images en parallele\nconst data = $json;\n\nreturn [\n  { \n    json: { \n      ...data, \n      image_type: 'thumbnail', \n      prompt: data.image_prompts.thumbnail, \n      size: '1792x1024' \n    } \n  },\n  { \n    json: { \n      ...data, \n      image_type: 'section_1', \n      prompt: data.image_prompts.image_section_1, \n      position: data.image_positions.image_section_1, \n      size: '1024x1024' \n    } \n  },\n  { \n    json: { \n      ...data, \n      image_type: 'section_2', \n      prompt: data.image_prompts.image_section_2, \n      position: data.image_positions.image_section_2, \n      size: '1024x1024' \n    } \n  }\n];"},"id":"split-images-001","name":"Split for Images","type":"n8n-nodes-base.code","typeVersion":2,"position":[2864,400],"notes":"Cree 3 items pour traitement parallele des images"},{"parameters":{"operation":"resize","resizeOption":"maximumArea","width":1200,"options":{"format":"webp","quality":75}},"id":"convert-webp-001","name":"Convert to WebP","type":"n8n-nodes-base.editImage","typeVersion":1.1,"position":[3472,480],"continueOnFail":true,"notes":"Conversion en WebP pour optimisation"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"=Tu generes des noms de fichiers SEO pour images. Retourne UNIQUEMENT le nom, sans extension. Format: mots-cles-descriptifs-en-minuscules (max 50 chars, pas d'accents, tirets entre mots).\n\nArticle: {{ $('Split for Images').item.json.title }}\nType d'image: {{ $('Split for Images').item.json.image_type }}"}]},"options":{"maxTokens":50,"temperature":0.3}},"id":"generate-seo-name-001","name":"Generate SEO Name","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3584,208],"credentials":{"openAiApi":{"id":"ZxSYZtBStDBWN5Uu","name":"OpenAi account 3"}},"continueOnFail":true,"notes":"Generation du nom SEO avec GPT-3.5"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Parser le nom SEO genere par GPT - SANS timestamp pour noms propres\nlet rawName = 'philippines-image';\ntry {\n  rawName = $json.message?.content || $json.content || $json.text || rawName;\n} catch (e) {\n  console.log('Erreur recuperation nom SEO:', e.message);\n}\n\n// Nettoyer le nom: minuscules, pas d'accents, tirets, pas de chiffres\nconst seoName = String(rawName)\n  .trim()\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[0-9]/g, '')              // Supprimer tous les chiffres\n  .replace(/[^a-z-]/g, '-')           // Garder que lettres et tirets\n  .replace(/-+/g, '-')                // Pas de tirets multiples\n  .replace(/^-|-$/g, '')              // Pas de tirets debut/fin\n  .substring(0, 60);\n\n// Recuperer les donnees depuis Split for Images\nlet splitData = {};\ntry {\n  splitData = $('Split for Images').item.json || {};\n} catch (e) {\n  console.log('Erreur recuperation splitData:', e.message);\n}\n\n// Prefix selon le type d'image (thumbnail_ ou rien)\nconst prefix = splitData.image_type === 'thumbnail' ? 'thumbnail-' : '';\n\n// Nom final sans timestamp\nconst finalName = prefix + seoName;\n\n// Recuperer les donnees binaires depuis Convert to WebP\nlet binaryData = {};\ntry {\n  binaryData = $('Convert to WebP').item.binary || {};\n} catch (e) {\n  console.log('Erreur recuperation binary:', e.message);\n}\n\n// En mode runOnceForEachItem avec binary, retourner {json, binary} sans tableau\nreturn { \n  json: { \n    seo_name: finalName,\n    image_type: splitData.image_type || 'unknown',\n    position: splitData.position || null\n  },\n  binary: binaryData\n};"},"id":"parse-seo-name-001","name":"Parse SEO Name","type":"n8n-nodes-base.code","typeVersion":2,"position":[3856,400],"continueOnFail":true,"notes":"Nettoyage du nom SEO + transmission des donnees binaires"},{"parameters":{"method":"POST","url":"=https://byxjlsbmhixdehbisvjp.supabase.co/storage/v1/object/articles/{{ $json.seo_name }}.webp","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"image/webp"},{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"upload-supabase-001","name":"Upload to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4064,400],"credentials":{"supabaseApi":{"id":"Y37r8teOb0npvPKk","name":"Supabase account"}},"continueOnFail":true,"notes":"Upload vers Supabase Storage - inputDataFieldName ajoute"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Construire le resultat de l'image uploadee avec verification\nconst splitData = $('Split for Images').item.json;\nconst imageType = splitData.image_type;\nconst position = splitData.position;\n\n// Recuperer le nom SEO\nlet seoName;\ntry {\n  seoName = $('Parse SEO Name').item.json.seo_name;\n} catch (e) {\n  seoName = `${imageType}-${Date.now()}`;\n}\n\n// Verifier si l'upload a reussi\nconst uploadResult = $json;\nconst uploadSuccess = uploadResult && !uploadResult.error && uploadResult.Key;\n\nif (!uploadSuccess) {\n  console.log('Upload failed for', imageType, '- using placeholder');\n}\n\nconst url = uploadSuccess \n  ? `https://byxjlsbmhixdehbisvjp.supabase.co/storage/v1/object/public/articles/${seoName}.webp`\n  : null;\n\n// En mode runOnceForEachItem, retourner l'objet directement (pas de wrapper json)\nreturn { \n  image_type: imageType, \n  url: url, \n  position: position || null, \n  seo_name: seoName,\n  success: uploadSuccess\n};"},"id":"build-image-result-001","name":"Build Image Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[4256,400],"continueOnFail":true,"notes":"Construit l'objet resultat avec verification du succes"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"all_images","options":{}},"id":"merge-images-001","name":"Collect All Images","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4464,400],"notes":"Collecte les 3 images dans un tableau all_images"},{"parameters":{"jsCode":"// Aggreger les 3 images dans un objet structure\n// Le node Aggregate a collecte les images dans all_images\nconst allImages = $json.all_images || [];\nconst images = {};\n\nconsole.log('Nombre d images collectees:', allImages.length);\n\nfor (const item of allImages) {\n  const imageType = item.image_type;\n  if (imageType && item.url) {\n    images[imageType] = {\n      url: item.url,\n      position: item.position,\n      seo_name: item.seo_name\n    };\n    console.log('Image ajoutee:', imageType, item.url);\n  } else {\n    console.log('Image ignoree (pas d URL):', imageType);\n  }\n}\n\n// Recuperer les donnees de l'article depuis Parse AI Response\nlet articleData;\ntry {\n  articleData = $('Parse AI Response').first().json;\n} catch (e) {\n  console.error('Erreur recuperation articleData:', e.message);\n  articleData = {};\n}\n\nconsole.log('Images finales:', JSON.stringify(images));\n\nreturn [{ \n  json: { \n    ...articleData, \n    images: images \n  } \n}];"},"id":"aggregate-images-001","name":"Aggregate Images","type":"n8n-nodes-base.code","typeVersion":2,"position":[4656,400],"notes":"Restructure les images depuis all_images vers un objet"},{"parameters":{"jsCode":"// Injecter les images dans le contenu EditorJS\nconst content = JSON.parse(JSON.stringify($json.content_editorjs));\nconst images = $json.images || {};\n\nlet h2Count = 0;\nconst newBlocks = [];\n\nfor (let i = 0; i < content.blocks.length; i++) {\n  const block = content.blocks[i];\n  newBlocks.push(block);\n\n  if (block.type === 'header' && block.data.level === 2) {\n    h2Count++;\n\n    // Image apres 2eme H2\n    if (h2Count === 2 && images.section_1) {\n      newBlocks.push({\n        id: `img-s1-${Date.now()}`,\n        type: 'image',\n        data: {\n          file: { url: images.section_1.url },\n          caption: images.section_1.position?.caption || '',\n          stretched: false,\n          withBorder: false,\n          withBackground: false\n        }\n      });\n    }\n\n    // Image apres 4eme H2\n    if (h2Count === 4 && images.section_2) {\n      newBlocks.push({\n        id: `img-s2-${Date.now()}`,\n        type: 'image',\n        data: {\n          file: { url: images.section_2.url },\n          caption: images.section_2.position?.caption || '',\n          stretched: false,\n          withBorder: false,\n          withBackground: false\n        }\n      });\n    }\n  }\n}\n\ncontent.blocks = newBlocks;\n\nreturn [{\n  json: {\n    ...$json,\n    content_editorjs: content,\n    thumbnail_url: images.thumbnail?.url || ''\n  }\n}];"},"id":"inject-images-001","name":"Inject Images","type":"n8n-nodes-base.code","typeVersion":2,"position":[4864,400],"notes":"Injection des images aux bonnes positions dans le contenu"},{"parameters":{"jsCode":"// Preparer les donnees finales pour insertion\nconst aiData = $json;\n\n// Utiliser thumbnail_url au lieu de l'ancienne image DALL-E\nconst imageUrl = aiData.thumbnail_url || 'https://placehold.co/1792x1024/1e40af/white?text=Philippineasy';\n\n// Calculer le temps de lecture\nconst content = aiData.content_editorjs;\nlet wordCount = 0;\nif (content && content.blocks) {\n  for (const block of content.blocks) {\n    if (block.type === 'paragraph' || block.type === 'header') {\n      const text = block.data?.text || '';\n      wordCount += text.split(/\\s+/).filter(w => w.length > 0).length;\n    } else if (block.type === 'list' && block.data?.items) {\n      wordCount += block.data.items.join(' ').split(/\\s+/).filter(w => w.length > 0).length;\n    } else if (block.type === 'quote' && block.data?.text) {\n      wordCount += block.data.text.split(/\\s+/).filter(w => w.length > 0).length;\n    }\n  }\n}\n\n// Temps de lecture: 200 mots/minute\nconst readingTime = Math.max(1, Math.ceil(wordCount / 200));\n\nreturn [{\n  json: {\n    title: aiData.title,\n    slug: aiData.slug,\n    content: JSON.stringify(aiData.content_editorjs),\n    category_id: aiData.category_id || 11,\n    image: imageUrl,\n    status: aiData.status || 'draft',\n    source: 'n8n',\n    source_url: aiData.source_url,\n    reading_time: readingTime\n  }\n}];"},"id":"n4o5p6q7-r8s9-0123-nopq-234567890123","name":"Format Final Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[5056,400],"notes":"Utilise thumbnail_url au lieu de l'ancienne image"},{"parameters":{"method":"POST","url":"https://byxjlsbmhixdehbisvjp.supabase.co/rest/v1/articles","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": {{ JSON.stringify($json.title) }},\n  \"slug\": {{ JSON.stringify($json.slug) }},\n  \"content\": {{ JSON.stringify($json.content) }},\n  \"category_id\": {{ $json.category_id }},\n  \"image\": {{ JSON.stringify($json.image) }},\n  \"status\": {{ JSON.stringify($json.status) }},\n  \"source\": {{ JSON.stringify($json.source) }},\n  \"source_url\": {{ JSON.stringify($json.source_url) }},\n  \"reading_time\": {{ $json.reading_time }},\n  \"published_at\": {{ JSON.stringify(new Date().toISOString()) }}\n}","options":{}},"id":"o5p6q7r8-s9t0-1234-opqr-345678901234","name":"Insert to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5264,400],"credentials":{"supabaseApi":{"id":"Y37r8teOb0npvPKk","name":"Supabase account"}},"notes":"Insertion de l'article complet dans Supabase"},{"parameters":{"jsCode":"const articleTitle = $json.title || 'Article sans titre';\nconst articleSlug = $json.slug || 'slug-inconnu';\nconst articleId = $json.id || 'N/A';\n\nconsole.log(`Article cree avec succes!`);\nconsole.log(`Titre: ${articleTitle}`);\nconsole.log(`Slug: ${articleSlug}`);\nconsole.log(`ID: ${articleId}`);\n\nreturn [{ \n  json: { \n    success: true,\n    message: `Article \"${articleTitle}\" cree avec succes`,\n    article_id: articleId,\n    slug: articleSlug,\n    url: `https://philippineasy.com/articles/${articleSlug}`,\n    timestamp: new Date().toISOString()\n  } \n}];"},"id":"p6q7r8s9-t0u1-2345-pqrs-456789012345","name":"Log Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[5488,544]},{"parameters":{},"id":"q7r8s9t0-u1v2-3456-qrst-567890123456","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[256,704]},{"parameters":{"jsCode":"const error = $json.error || {};\nconst executionId = $json.execution?.id || $executionId || 'unknown';\nconst workflowName = $json.workflow?.name || 'Philippineasy Article Automation';\nconst nodeName = error.node || 'Unknown Node';\nconst errorMessage = error.message || JSON.stringify(error) || 'Erreur inconnue';\n\nconst logEntry = {\n  timestamp: new Date().toISOString(),\n  workflow: workflowName,\n  execution_id: executionId,\n  node: nodeName,\n  error_message: errorMessage.substring(0, 1000),\n  severity: 'error'\n};\n\nconsole.error('WORKFLOW ERROR:', JSON.stringify(logEntry, null, 2));\n\nreturn [{ json: logEntry }];"},"id":"r8s9t0u1-v2w3-4567-rstu-678901234567","name":"Format Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,704]},{"parameters":{"method":"POST","url":"https://byxjlsbmhixdehbisvjp.supabase.co/rest/v1/n8n_logs","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"timestamp\": {{ JSON.stringify($json.timestamp) }},\n  \"workflow\": {{ JSON.stringify($json.workflow) }},\n  \"execution_id\": {{ JSON.stringify($json.execution_id) }},\n  \"node\": {{ JSON.stringify($json.node) }},\n  \"error_message\": {{ JSON.stringify($json.error_message) }},\n  \"severity\": {{ JSON.stringify($json.severity) }}\n}","options":{}},"id":"s9t0u1v2-w3x4-5678-stuv-789012345678","name":"Save Error Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,704],"credentials":{"supabaseApi":{"id":"Y37r8teOb0npvPKk","name":"Supabase account"}},"continueOnFail":true,"notes":"Sauvegarde des erreurs dans Supabase"},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.5-flash-image-preview","mode":"list","cachedResultName":"models/gemini-2.5-flash-image-preview (Nano Banana)"},"prompt":"={{ $json.prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[3072,400],"id":"27314200-67da-480d-9044-083961333fb4","name":"Generate an image","credentials":{"googlePalmApi":{"id":"i0JCbDdO2QGcsU53","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Schedule Daily 8AM":{"main":[[{"node":"Define Sources","type":"main","index":0}]]},"Define Sources":{"main":[[{"node":"Switch by Type","type":"main","index":0}]]},"Switch by Type":{"main":[[{"node":"RSS Feed Read","type":"main","index":0}],[{"node":"FireCrawl Scrape","type":"main","index":0}]]},"RSS Feed Read":{"main":[[{"node":"Merge All Sources","type":"main","index":0}]]},"FireCrawl Scrape":{"main":[[{"node":"Merge All Sources","type":"main","index":1}]]},"Merge All Sources":{"main":[[{"node":"Normalize Data","type":"main","index":0}]]},"Normalize Data":{"main":[[{"node":"Filter Last 7 Days","type":"main","index":0}]]},"Filter Last 7 Days":{"main":[[{"node":"Process One by One","type":"main","index":0}]]},"Process One by One":{"main":[[],[{"node":"Check Duplicate","type":"main","index":0}]]},"Check Duplicate":{"main":[[{"node":"If Not Duplicate","type":"main","index":0}]]},"If Not Duplicate":{"main":[[{"node":"Process One by One","type":"main","index":0}],[{"node":"Prepare Article Data","type":"main","index":0}]]},"Prepare Article Data":{"main":[[{"node":"GPT-4 Article Writer","type":"main","index":0}]]},"GPT-4 Article Writer":{"main":[[{"node":"Parse AI Response","type":"main","index":0}]]},"Parse AI Response":{"main":[[{"node":"Split for Images","type":"main","index":0}]]},"Split for Images":{"main":[[{"node":"Generate an image","type":"main","index":0}]]},"Convert to WebP":{"main":[[{"node":"Generate SEO Name","type":"main","index":0}]]},"Generate SEO Name":{"main":[[{"node":"Parse SEO Name","type":"main","index":0}]]},"Parse SEO Name":{"main":[[{"node":"Upload to Supabase","type":"main","index":0}]]},"Upload to Supabase":{"main":[[{"node":"Build Image Result","type":"main","index":0}]]},"Build Image Result":{"main":[[{"node":"Collect All Images","type":"main","index":0}]]},"Collect All Images":{"main":[[{"node":"Aggregate Images","type":"main","index":0}]]},"Aggregate Images":{"main":[[{"node":"Inject Images","type":"main","index":0}]]},"Inject Images":{"main":[[{"node":"Format Final Data","type":"main","index":0}]]},"Format Final Data":{"main":[[{"node":"Insert to Supabase","type":"main","index":0}]]},"Insert to Supabase":{"main":[[{"node":"Log Success","type":"main","index":0}]]},"Log Success":{"main":[[{"node":"Process One by One","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Format Error","type":"main","index":0}]]},"Format Error":{"main":[[{"node":"Save Error Log","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Convert to WebP","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"current"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"739a3fa5-996e-4835-a57e-83989ae8f136","activeVersionId":null,"versionCounter":5,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-09T03:39:38.319Z","createdAt":"2026-01-09T03:39:38.319Z","role":"workflow:owner","workflowId":"604S9KIbabo2oeI8","projectId":"Pg7OTrovKQ8pyK9D","project":{"updatedAt":"2025-04-02T11:52:22.652Z","createdAt":"2025-04-02T11:28:26.886Z","id":"Pg7OTrovKQ8pyK9D","name":"vitor hugo duarte fontes <duartehugo1@outlook.fr>","type":"personal","icon":null,"description":null,"creatorId":"eaf1f6b1-bdfd-4a9e-a3d7-28516ea5b89b"}}]}]